<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="GoogleChrome" />
    <package id="Everything" />
    <package id="winmerge" />
    <package id="git" />
    <package id="github" />
    <package id="dropbox" />
    <package id="7zip" />
    <package id="Discord" />
    <package id="anaconda3" />
    <package id="kindle" />
    <package id="nodejs" />
    <package id="docker-desktop" />
    <package id="crystaldiskmark" />
    <package id="obs-studio" />
    <package id="1password" />
    <package id="avastfreeantivirus" />
    <package id="sakuraeditor" />
    <package id="vim" />
    <package id="voicemeeter" />
    <package id="vscode" />
    <package id="notion" />
    <package id="itunes" />
    <package id="twitch" />
</packages>